* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #c9e1f6;
}

.container {
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.header {

}

.sidebar {
    width: 20%;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: 0px 0px 10px rgba(0,0,0,0.7);
    height: 400px;
}

.content {
    width: 80%;
}

.box1 {
    background-color: #fff;
    border-radius: 5px;
    height: 400px;
    margin-bottom: 20px;
}

.box2 {
    background-color: #fff;
    border-radius: 5px;
    height: 400px;
}

.sidebar ul li {
    list-style: none;
    padding: 10px 0;
    color: #888;
}

.sidebar ul li:hover {
    color: rgb(45, 161, 229);
}

/* Media Query -> Responsive */
@media screen and (max-width: 992px) { 
    .container {
        width: 100%;
        flex-direction: column;
        padding: 20px;
    }

    .sidebar {
        width: 100%;
        order: 2;
    }

    .content {
        width: 100%;
        order: 1;
    }
}